.green {
  color: green;
}
.red {
  color: red;
} 
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.login-form {
  background-image: url("./assets/anh_dang_nhap.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.text-danger {
  align-items: center;
  text-align: center;
}