.green {
  color: green;
}
.red {
  color: red;
} 
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.login-form {
  background-image: url("./assets/anh_dang_nhap.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.text-danger {
  align-items: center;
  text-align: center;
}
.ant-table-content {
  border-bottom: 1px solid;
}
thead, tbody, tfoot, tr, td, th {
  border-color: inherit;
  border: 1px solid #000 !important;
}
.ant-table-cell {
  text-align: center !important;
}
.table-img {
  width: 150px;
  height: 150px;
}